.yellow {
    background: #fcbf49;
  }
  
  .green {
    background: #588157;
  }
  
  .blue {
    background: #4c6ef5;
  }
  
  .orange {
    background: #fb8b24;
  }

  .purple {
    background: #a779e9;
  }