@import url(https://unpkg.com/open-props/open-props.min.css);

:root {
  --speed: 0.25s;
}

span:is(:hover, :focus) {
  text-decoration: none;
  --active: 1;
}

:is(span) {
  transition: transform var(--speed) var(--ease-elastic-3);
  display: inline-block;
  transform:
    rotate(calc((var(--active, 0) * var(--r, 0)) * 1deg))
    translate(
      calc((var(--active, 0) * var(--x, 0)) * 1%),
      calc((var(--active, 0) * var(--y, 0)) * 1%)
    );
}

/* https://codepen.io/jh3y/pen/NWBdbRP */