/* CLASSES */

.mainTitle {
    color: black;
    font-family: poppins;
    font-size: 90px;
    font-weight: 700;
    text-align: right;
    margin: auto;
}

/* IDS */

#firstWrapper {
    display: flex;
    align-items: flex-start;
  }
  
  #mainLeft {
    display: flex;
    width: 50%;
    height: 40rem;
    vertical-align: middle;
  }
  
  #mainRight {
    display: flex;
    width: 50%;
    height: 40rem;
    vertical-align: middle;
    text-align: right;
    padding-right: 10%;
  }

  #pPic {
    display: flex;
    width: 20rem;
    height: 20rem;
    /* border-radius: 5000px; */
    object-position: bottom;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
    vertical-align: middle;
  }

  .picCard {
    position: relative;
    top: 10rem;
    left: 15rem;
    width: 20rem;
    height: 20rem;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    /* align-items: center; */
    transition: 0.5s;
    vertical-align: middle;
}

.picCard:hover {
    width: 40rem;
    height: 23rem;
    top: 8rem;
    left: 8rem;
}

.picCard .picCircle {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.picCard .picCircle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: 0.5s;
    border-radius: 20px;
}

.picCard:hover .picCircle:before {
    background: #e7e7e7;
    box-shadow: rgba(198, 198, 198, 0.25) 0px 30px 60px -12px inset,
    rgba(190, 190, 190, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    /* border: 1px solid black; */
    
}

.picContent h2, .picContent ul {
    opacity: 0;
    transition: 0.5s;
}

.picCard img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 0.5s;
}

.picCard:hover img {
    left: -5%;
    transform: scale(0.5);
    top: -15%;
    border: 5px dashed black;
    transition: 0.5s;
}

.picContent {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
}

.picCard:hover .picContent {
    left: 35%;
    top: 2%;
    opacity: 1;
    visibility: visible;
}

.picCard:hover h2, .picCard:hover ul {
    opacity: 1;
    transition: 0.5s;
}

.picCard .picContent h2 {
    color: black;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 5px;
}

.picCard .picContent p{
    color: black;
}

.picCard .picContent a {
    position: relative;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 991px) {
    .picCard {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .picCard:hover {
        height: 600px;

    }

    .picCard .picContent {
        width: 100%;
        left: 0;
        padding: 30px;

    }

    .picCard:hover img {
        top: 70%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 420px){
    .picCard .picContent {
        padding: 20px;

    }
}