@font-face {
  font-family: upheaval;
  src: url(../fonts/upheaval/upheavtt.ttf);
}

@font-face {
  font-family: joystix;
  src: url(../fonts/joystix/joystix.ttf);
}

/* MAIN */

.mainTitle {
  color: black;
  font-family: poppins;
  font-size: 90px;
  font-weight: 700;
  text-align: right;
  margin: auto;
  transition: 0.7s;
}

/* IDS */

#firstWrapper {
  display: flex;
  align-items: flex-start;
}

#mainLeft {
  display: flex;
  width: 50%;
  height: 40rem;
  padding-top: 10%;
  justify-content: center;
}

#mainRight {
  display: flex;
  width: 50%;
  height: 40rem;
  vertical-align: middle;
  text-align: right;
  padding-right: 10%;
}

#pPic {
  display: flex;
  width: 20rem;
  height: 20rem;
  object-position: bottom;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  vertical-align: middle;
}

.picCard {
  justify-content: center;
  vertical-align: center;
  width: 20rem;
  height: 20rem;
  transition: 0.5s;
}

.picCard:hover {
  width: 40rem;
  height: 23rem;
  top: 8rem;
  left: 8rem;
}

.picCard:hover {
  background: #e7e7e7;
  box-shadow: rgba(198, 198, 198, 0.25) 0px 30px 60px -12px inset,
    rgba(190, 190, 190, 0.3) 0px 18px 36px -18px inset;
  border-radius: 20px;
  /* border: 1px solid black; */
}

.picContent h2,
.picContent ul {
  opacity: 0;
  transition: 0.5s;
}

.picCard #pPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.5s;
}

.picCard:hover #pPic {
  left: -5%;
  transform: scale(0.5);
  top: -15%;
  border: 5px dashed black;
  transition: 0.5s;
}

.picContent {
  position: relative;
  padding: 20px 20px 20px 40px;
  width: 60%;
  height: 100%;
  left: 20%;
  transition: 0.5s;
  overflow: hidden;
}

.picCard:hover .picContent {
  left: 35%;
  top: 2%;
  opacity: 1;
  visibility: visible;
}

.picCard:hover h2,
.picCard:hover ul {
  opacity: 1;
  transition: 0.5s;
}

.picCard .picContent h2 {
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 5px;
}

.picCard .picContent p {
  color: black;
}

.picCard .picContent a {
  position: relative;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.picCard {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}

.socialIcon {
  width: 40px;
  display: inline-block;
  padding: 1rem 0 0 0;
}

.social {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 30%;
  height: 20%;
  transition: 0.5s;
  text-align: center;
  visibility: hidden;
}

.picCard:hover .social {
  visibility: visible;
  transition: 0.5s;
}

.picContent ul {
  list-style-type: none;
}

#cardTitle {
  font-family: upheaval;
  font-size: 27px;
}

.dni {
  position: absolute;
  left: -5%;
  top: 20%;
  font-family: joystix;
  font-size: 15px;
  line-height: 50px;
  visibility: hidden;
}

.picCard:hover .dni {
  visibility: visible;
}

.colorTitle {
  background: linear-gradient(135deg, #42d392, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#iResume {
  width: 20rem;
  transition: 0.5s;
}

#dResume {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: fit-content;
  height: 30rem;
}

#dResume:hover iframe{
  opacity: 1;
  transition: 0.5s;
}

#dResume:hover #iResume {
  transform: scale(1.1);
  transition: 0.5s;
}

#thirdWrapper iframe {
  opacity: 0;
  transition: 0.5s;
}

.dni strong {
  color: #5e8cec;
  border: 2px dashed rgb(0, 0, 0, 0.2);
  border-spacing: 3px;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  #firstWrapper {
    justify-content: center;
    align-items: center;
  }

  #pPic {
    width: 24vw;
    height: 24vw;
  }

  .picCard {
    width: 24vw;
    height: 24vw;
  }

  #mainRight h2 {
    font-size: 6vw;
  }

  #mainLeft {
    height: 55vw;
    margin: auto;
    padding-top: 5%;
  }

  #mainRight {
    height: 55vw;
    margin: auto;
  }

  #mainRight h2 {
    margin: 0;
  }
}

@media (max-width: 700px) {
  #pPic {
    width: 40vw;
    height: 40vw;
  }

  #firstWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  #mainRight {
    width: 100%;
    justify-content: center;
  }

  #mainRight h2 {
    font-size: 10vw;
  }

  .picCard {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 5vw;
    width: 40vw;
    height: 40vw;
  }

  .picCard:hover {
    height: 110vw;
  }

  .picCard .picContent {
    width: 100%;
    left: 0vw;
    padding: 10vw;
  }

  .picCard:hover #pPic {
    left: -2vw;
    top: -2vw;
    transform: scale(0.6);
  }

  #mainLeft {
    padding: 1vw;
    width: 80%;
  }

  .picCard:hover .mainTitle, .picCard:active .mainTitle, .picCard:focus .mainTitle {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  #mainLeft:hover + #mainRight .mainTitle, .picCard:active + #mainRight, .picCard:focus + #mainRight {
    opacity: 0;
    transition: 0.7s;
  }

  .picCard:hover .socialIcon {
    width: 6vw;
    height: 9vw;
    transition: 0.4s;
  }

  .picCard:hover .social {
    width: 14vw;
    top: 7%;
    left: 60%;
    display: inline-block;
    transition: 0.4s;
  }

  .picCard:hover .picContent {
    padding: 10px 10px;
    left: 0%;
    top: 30%;
  }

  .picCard:hover #cardTitle {
    font-size: 21px;
  }

  .picCard:hover .dni {
    padding: 10px 20px;
    font-size: 13px;
    top: 10%;
    left: 2%;
    line-height: 7vw;
  }

}

@media (max-width: 400px) {
  .picCard .picContent {
    padding: 3vw;
  }

  .picCard:hover .social {
    width: 20vw;
    top: 3vw;
    left: 37vw;
    transition: 0.4s;
  }

  .picCard:hover .socialIcon {
    width: 8vw;
    height: 12vw;
    top: 1vw;
    left: 15vw;
    transition: 0.4s;
  }

  .picCard:hover .picContent {
    padding: 3vw;
    left: 0;
    top: 33vw;
  }

  .picCard:hover #cardTitle {
    font-size: 5vw;
    line-height: 6vw;
  }

  .picCard:hover .dni {
    padding: 3vw;
    font-size: 3vw;
    top: 15vw;
    left: 0.1vw;
    line-height: 7vw;
  }

}
