@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

/* IDS */

html, body {
  background-color: blue;
}

#fWrapper {
  background-color: brown;
}

#hWrapper {
  position: static;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: darkslateblue;
}

#hSearch {
  position: relative;
  background-color: blue;
}