@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

@font-face {
  font-family: upheaval;
  src: url(../fonts/upheaval/upheavtt.ttf);
}

html {
  font-family: poppins;
}

#content {
  position: relative;
  top: 5rem;
  margin: auto;
  width: 90%;
}

.iCont {
  transition: 0.3s;
}

.iCont:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 1500px) {

}

@media (max-width: 700px) {
  #content {
    top: 1rem;
  }
}

@media (max-width: 400px) {
  
}