@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: stora;
  src: url(../fonts/stora/Stora.ttf);
}

body {
  background: #edede9;
  color: #0d1b2a;
}

.first {
  position: relative;
  display: flex;
  opacity: 0;
  top: -5%;
  transition: 1s;
  width: 100%;
}

#title {
  font-size: 4rem;
  font-family: Poppins;
  font-weight: bold;
  text-align: right;
  margin: auto;
  margin-top: 8rem;
}

.dataProject {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  margin-top: 0.8rem;
  transition: 0.5s;
}

.darkIcon {
  filter: invert(1);
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.5;
  transition: 0.5s;
}

.lightCloud {
  position: relative;
  width: 20rem;
  top: -10rem;
  left: 10rem;
  z-index: -1;
  filter: blur(2px);
  animation: clouding linear 200s infinite;
}

#title span {
  display: block;
  text-shadow: 0 0 2px rgba(39, 39, 39, 0.5);
}

#firstLine {
  font-size: 6.5rem;
}

#secondLine {
  position: relative;
  top: -3rem;
  right: 3rem;
  font-size: 4.5rem;
}

#secondLine::after {
  content: " Alex";
  color: #3f37c9;
}

#thirdLine {
  position: relative;
  top: -4rem;
  font-size: 1.85rem;
}

.greenScratch {
  position: relative;
  top: -10.5rem;
  left: 12rem;
  transform: rotate(-10deg);
  background: rgba(95, 205, 58, 0.6);
  /* width: 12rem; */
  height: 3rem;
  z-index: -1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* SETTINGS */

.lightButSets {
  position: fixed;
  right: 0;
  top: 4rem;
  background: #0d1b2a;
  width: 3rem;
  height: 3rem;
  border-radius: 5rem 0 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
}

.lightButSets i {
  position: relative;
  right: -0.2rem;
  color: white;
  font-size: 1.5rem;
  transition: 0.5s;
}

.lightButSets:hover {
  background: #1b1b1b;
}

.lightButSets:hover i {
  transform: rotate(180deg);
  transition: 0.5s;
}

.darkButSets {
  background: #edede9;
}

.darkButSets i {
  color: #0d1b2a;
}

.darkButSets:hover {
  background: #bebebe;
}

.darkButSets:hover i {
  transform: rotate(180deg);
  transition: 0.5s;
}

.lightWindow {
  position: absolute;
  background: #0d1b2a;
  opacity: 0;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: #a0a0a0 0px 0px 10px 0px;
  width: 0rem;
  height: 0rem;
  top: 4rem;
  right: 4rem;
  z-index: 999;
}

.darkWindow {
  background: #edede9;
}

.showWindow {
  opacity: 1 !important;
  width: 6rem !important;
  height: 10rem !important;
  transition: 0.5s;
}

.mode,
.language {
  position: relative;
  margin: auto;
  width: 45px;
  height: 25px;
  background: #edede9;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
  border: 2px solid rgba(131, 131, 131, 0.3);
  overflow: hidden;
}

.mode:after {
  content: "☀️";
  position: absolute;
  top: -1px;
  left: 1px;
  font-size: 14px;
  height: 22px;
  line-height: 23px;
  text-align: center;
  transition: all 0.3s ease;
}

.language::after {
  content: "🇪🇸";
  position: absolute;
  top: -1px;
  left: 1px;
  font-size: 13px;
  height: 22px;
  line-height: 23px;
  text-align: center;
  transition: all 0.3s ease;
}

.lightSets {
  color: #edede9;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: stora;
  letter-spacing: 0.15rem;
  font-weight: 900;
  text-shadow: 1px 1px 20px rgba(216, 216, 216, 1);
}

.darkSets {
  color: #0d1b2a;
}

.active {
  background: #0d1b2a !important;
}

.langActive {
  background: #0d1b2a !important;
}

.active:after {
  content: "🌛";
  transform: translateX(20px);
}

.langActive:after {
  content: "🇬🇧";
  transform: translateX(20px);
}

.darklight {
  transform: translateX(0);
}

.darklight {
  position: absolute;
  z-index: 999;
  margin: 2px;
  display: block;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(#000, 0.1);
  transform: translateX(20px);
  transition: all 0.4s ease;
}

.active .darklight,
.langActive .darklight {
  transform: translateX(0);
}

.dark {
  background: #0d1b2a;
  color: #edede9;
}

#menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3rem;
  position: relative;
  /* bottom: 15rem; */
  font-size: 1.5rem;
  margin: auto;
  flex-wrap: wrap;
  z-index: 999;
}

.lightMenu {
  text-decoration: none;
  transition: 0.5s;
  color: #0d1b2a;
}

.lightMenu:hover {
  color: #26425c;
  transform: scale(1.05);
  transition: 0.5s;
}

.lightMenu:hover > .lightScratch {
  width: 3rem;
  background: #26425c;
  transition: 0.7s;
}

.lightScratch {
  position: relative;
  height: 0.2rem;
  width: 0;
  background: #0d1b2a;
  transition: 0.7s;
}

.darkCloud {
  filter: blur(2px) brightness(0.7);
}

.darkScratch {
  background: #d8b88d !important;
}

.darkMenu {
  color: #edede9 !important;
}

.darkMenu:hover {
  color: #d8b88d !important;
}

.second {
  position: absolute;
  top: -10%;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.activateChapter {
  opacity: 1 !important;
  top: 0 !important;
  transition: 0.5s;
}

#secondSubtitle {
  width: 100%;
  height: 10rem;
  margin: 5rem 5rem;
}

#secondCaption {
  font-size: 4rem;
  font-family: Poppins;
  font-weight: bold;
}

.projectsStory {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.chatterImg {
  width: 10rem;
}

.flecha {
  margin: 3.5rem;
  width: 6rem;
  height: 6rem;
}

#menu div {
  cursor: pointer;
}

.projectCaption {
  text-align: center;
  margin-top: 1rem;
}

/* ANIMATIONS */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    top: -9.355rem;
    width: 0rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -10.5rem;
    width: 12rem;
  }
}

@keyframes clouding {
  0% {
    left: 10rem;
  }
  50% {
    left: -10rem;
  }
  100% {
    left: 10rem;
  }
}

@keyframes cloudingTwo {
  0% {
    left: 3rem;
  }
  50% {
    transform: translateX(-6rem);
  }
  100% {
    left: 3rem;
  }
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .mode {
    line-height: 22px;
    left: 1px;
  }

  #title {
    text-align: center;
    box-shadow: 0px;
    margin-top: 4rem;
  }

  #firstLine {
    font-size: 3rem;
  }

  #secondLine {
    top: -1rem;
    left: 0rem;
    font-size: 2.9rem;
  }

  #thirdLine {
    top: -1rem;
    font-size: 1.3rem;
  }

  #cloud {
    width: 10rem;
    top: -4rem;
    z-index: -1;
    animation: cloudingTwo 100s infinite;
  }

  #menu {
    align-items: center;
    width: 80%;
    display: grid !important;
    grid-template-columns: 50% 50%;
    column-gap: 1;
    margin: auto;
  }

  #menu h1 {
    font-size: 1.2rem !important;
  }

  .showWindow {
    top: 10rem;
    right: 6.7rem;
  }

  .lightScratch {
    top: -0.3rem;
  }

  .lightMenu:hover > .lightScratch {
    width: 2rem;
  }

  #secondSubtitle {
    width: 100%;
    height: 2rem;
    margin: 4rem 3rem;
  }

  #secondCaption {
    font-size: 2rem;
  }

  .chatterImg {
    width: 4rem;
  }

  .projectCaption {
    font-size: 1rem;
  }

  .flecha {
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }

}
