<div id="navbar">
    <div id="logo">
        <div id="iconoDiv">
                <a href="#inicio" id="icono">
                <span class="corchete bold">[</span>
                <span class="inicial bold">AS</span>
                <span class="corchete bold">]</span>
            </a>
            </div>
    </div>

    <div id="menu">
        <a href="#resumen"><i class="fa-solid fa-user"></i>Sobre mi</a>
        <a href="#proyectos"><i class="fa-solid fa-briefcase"></i>Proyectos</a>
        <a href="#experiencia"><i class="fa-solid fa-arrow-pointer"></i>Experiencia</a>
        <a href="#estudios"><i class="fa-solid fa-graduation-cap"></i>Estudios</a>
        <a href="#contacto"><i class="fa-solid fa-envelope"></i>Contacto</a>
    </div>
</div>