{{ define "main" }}
{{ .Site.Params.menu.main}}

<div>
    <div id="firstWrapper">
        <div id="mainLeft">
            <div class="picCard">
                <div class="picCircle">
                    <div class="picContent">
                        <h2 id="cardTitle">Identification Data:</h2>
                        <p>
                            <ul class="dni">
                                <li><strong>Name</strong>: Alejandro</li>
                                <li><strong>Surname</strong>: Sanmartín Borobia</li>
                                <li><strong>Age</strong>: 24 años</li>
                                <li><strong>Location</strong>: Zaragoza, Spain</li>
                            </ul>
                        </p>
                    </div>
                    <div class="social">
                        <a target="_blank" href="https://www.linkedin.com/in/sanmartin8a"><img src="https://cdn-icons-png.flaticon.com/512/4401/4401412.png" alt="LinkedIn" class="socialIcon"></a>
                        <a target="_blank" href="https://www.instagram.com/sanmartin8a/"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png" alt="Instagram"class="socialIcon"></a>
                        <a target="_blank" href="https://twitter.com/SANMARTIN8A"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png" alt="Twitter" class="socialIcon"></a>
                        <a target="_blank" href="https://github.com/iSanmartin8a"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png" alt="GitHub" class="socialIcon"></a>
                    </div>
                    <img id="pPic" src="https://vault.diego.contact/apps/files_sharing/publicpreview/mainPic?x=1860&y=617&a=true&file=2022-01-01%252003.20.51%25201.jpg&scalingup=0" id="pPic">
                </div>
            </div>
        </div>
        <div id="mainRight">
            <h2 class="mainTitle">Howdy! <br>I'm <span class="colorTitle">Alex</span> and <br>I am a <br><span class="colorTitle">Front End</span> Developer.</h2>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    {{ .Content }}
    <div id="contributors">
        <h3>Developers:</h3>
        {{ $headers := (dict "Authorization" "isanmartin8a@gmail.com:my_personal_access_token") }}
        {{ $contributors := getJSON "https://api.github.com/repos/isanmartin8a/iSanmartin8a.github.io/contributors"
        $headers
        }}
        <table>
            <tr>
                <td>
                    {{ range $contributors }}
                    <a href="{{ .html_url }}" target="_blank">
                        <img src="{{ .avatar_url }}" alt="{{ .login }}" class="iCont" style="width: 3rem; border: 0px;">
                    </a>
                </td>
            </tr>
        </table>
        {{ end }}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{{ end }}