{{ define "main" }}
{{ .Site.Params.menu.main}}

<div>
    <div id="firstWrapper">
        <div id="mainLeft">
            <div class="picCard">
                <div class="picCircle">
                    <div class="picContent">
                        <h2>Documento Identificativo:</h2>
                        <p>
                            <ul>
                                <li>Edad: 24 años.</li>
                                <li>Nacionalidad: Española.</li>
                            </ul>
                        </p>
                        <a href=""></a>
                    </div>
                    <img src="https://vault.diego.contact/apps/files_sharing/publicpreview/mainPic?x=1860&y=617&a=true&file=2022-01-01%252003.20.51%25201.jpg&scalingup=0" id="pPic">
                </div>
            </div>
        </div>
        <div id="mainRight">
            <h2 class="mainTitle">Howdy! <br>I'm Alex and <br>I am a <br>Front End Developer.</h2>
        </div>
    </div>
    <br><br><br><br><br><br><br>
    {{ .Content }}
    <div id="contributors">
        <h3>Developers:</h3>
        {{ $headers := (dict "Authorization" "isanmartin8a@gmail.com:my_personal_access_token") }}
        {{ $contributors := getJSON "https://api.github.com/repos/isanmartin8a/iSanmartin8a.github.io/contributors"
        $headers
        }}
        <table>
            <tr>
                <td>
                    {{ range $contributors }}
                    <a href="{{ .html_url }}" target="_blank">
                        <img src="{{ .avatar_url }}" alt="{{ .login }}" class="iCont" style="width: 3rem; border: 0px;">
                    </a>
                </td>
            </tr>
        </table>
        {{ end }}
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{{ end }}